<?xml version="1.0" encoding="utf-8"?>
<GenericSensorBroadcaster>
  <PORT>
    10100
  </PORT>
  <SendFormat>
    json
  </SendFormat>
  <SensorName>
    Room D3.07
  </SensorName>
  <Sensors>
    <OneSensor>
      <Name>Temperature</Name>
      <SensorType>int</SensorType>
      <Lower>0</Lower>
      <Upper>110</Upper>
    </OneSensor>
    <OneSensor>
      <Name>CO2</Name>
      <SensorType>int</SensorType>
      <Lower>0</Lower>
      <Upper>1200</Upper>
    </OneSensor>
    

  </Sensors>
</GenericSensorBroadcaster>
